body{
    background-color: rgb(66, 66, 66);
}

div#form-wrapper{
    width: 80%;
    min-height: 65vh;
    background-color: aquamarine;
    border: 4px groove darkcyan;
    margin-top: 160px;
    text-align: center;
}

div#form-wrapper h2{
    font-family: "Franklin Gothic Medium", bold;
    margin-top: 30px;
    font-size: 50px;
}


select{
    margin-top: 80px;
    background-color: lightgrey;
    font-size: 30px;
    font-family: bold;
    text-align: center;
}

form.submit{
    margin-top: 50px;
    display: none;
}